[selector='hideElement'] {
    position: fixed;
    left: -100%;
    z-index: 100000000;
}


[selector='pagination_complete'] {
    display: none;
}



.card-bill {
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  width: 100%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}
@media (min-width:992px){
  .card-bill{
    display: none;
  }
}

.flex {
  display: flex;
}

.title-head {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  color: #272727;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.8rem;
}

.title-text h4 {
  font-size: 1.3rem;
  color: #6f6e73;
}

.title-text p {
  font-size: 1.3rem;
}

.title-text {
  margin-bottom: .8rem;
}